*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
    margin-left: 0px;
    margin-right: 0px;
    
    
}

/*Start Static position of logo anf brand name*/
.brand-name{
    margin-top: 25px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.brand{
    align-items: flex-start;
    display: flex;    
}
/*End Static position of logo anf brand name*/
ul{
    list-style: none;
}

nav{
    display: flex;
    position: fixed;
    background-color: #ffffff;
    top: 0;
    left: 0;
    right: 0; 
    padding-bottom: 2px; 
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
/*Start mobile device MENU button*/
.button{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 6vw;
    
    font-size: 20px;
    font-weight: bolder;  
    border: none;
    
}

.navbar-mobile {
    display: none;  
  } 
  @media screen and (max-width: 800px) {
    .navbar-mobile {
      display: flex;
      flex-direction: column;
      width: 40%;
      margin-left: auto; 
      
    }
}
/*END mobile device MENU button*/
/*Start Desktop navigation setting*/
.navbar-desktop {
    display:flex ;
    margin-left: auto;
    width: 40%;
    padding-right: 5vw;
    justify-content: space-between;
    }
    @media screen and (max-width: 800px) {
        .navbar-desktop {
            display: none;
        }
/*END Desktop navigation setting*/
}
.nav-link {
    color: rgb(2, 1, 1);
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid black;
    /*Start Fade in of list menu mobile devices*/
    animation-name: fadeIn;    
    animation-duration: 1s;
 }
 /*GLOBAL keyframes for use*/
 @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
/*END Fade in of list menu mobile devices*/
 
/*START color cange on mouse desktop menu*/
a.nav-link:hover ,a.nav-link:focus{
    background-color: #000000;
    color: #ffffff;
}
.nav-link{
    transition: all 0.5s ease-out;
}
/*END color cange on mouse desktop menu*/


/* START of main content and all section of the webside */


h1{
    color: #ffffff;
    
}

.background{
    display: flex; 
    background-image: url('./images/1.JPG');
    
    background-size: 100% 100%;
    
    

    background-repeat: no-repeat;
}
    @media screen and (max-width: 800px) {
        .background {
            background-size: cover;
            display: flex;
            background-position: 40% 0%;
        }
}

.container1{
    display: flex;
    /* move photo height */
    height: 25vw;
    margin-top:20vw;
    margin-bottom: 20%;
}   
    @media screen and (max-width: 750px) {
        .container1 {
            display: flex;
            /* move photo height */
            height: 100vw;
            width: 50vw;
            
        }
}
blockquote.instagram-media{
    max-width: max-content;
}
div.content {
    display: flex;
    flex-wrap: wrap;
    
    
}